
.foodPhoto{
	max-height: 200px;
}
.chart{
	margin-left: 20px;
	padding-left: 20px;
}
.chartStandIn{
	max-width: 300px;
	max-height:300px;
}

.food-button {
	margin: 5px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h6, a, li, label, span {
  font-family: 'Montserrat', sans-serif;
  color: #4B4B4B;
}

 h5, p, span {
  font-family: 'Roboto Slab', serif;
}

 h5 {
  font-family: 'Roboto Slab', serif;
  color: #4B4B4B;
  font-weight: 700;
  text-transform: uppercase;
  color: #50c878; /* Emrald Green */
}


/* NAV STYLES */
nav {
  background-color: #50c878; /* Emrald Green */
}



/* SUPERFOODS LIST */
.reccomended-food-list {
  margin: 40px 0;
}

.reccomended-food-list li {
  border-bottom: 3px solid #EDEDED;
  font-size: 24px;
  display: inline-block;
  margin: 0 7px 5px 0;
}

.reccomended-food-list li:hover {
  border-bottom: 3px solid #50c878;
  cursor: pointer;
  transition: all .5s ease-out;
}


/* RECIPES */
.recipes {
  margin: 40px 0;
}

.card-action a {
  color: #50c878 !important; /* Emrald Green */
}

.card-action a:hover {
  color: #4B4B4B !important; /* Emrald Green */
  transition: all .5s ease-out;
}

